body {
  background-color: black;
}

.header {
  color: white;
  font-size: 2em;
  text-align: center;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.get-endpoints {
  color: silver;
  border: 0.125rem solid silver;
  padding: 1.25rem;
  margin: 1.25rem 0;
  background-color: rgb(39, 39, 39);
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 8px rgba(68, 20, 20, 0.1);
}

.post-endpoints {
  color: green;
  border: 0.125rem solid green;
  padding: 1.25rem;
  margin: 1.25rem 0;
  background-color: rgb(0, 17, 0);
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 8px rgba(68, 20, 20, 0.1);
}

.patch-endpoints {
  color: orange;
  border: 0.125rem solid orange;
  padding: 1.25rem;
  margin: 1.25rem 0;
  background-color: rgb(26, 16, 1);
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 8px rgba(68, 20, 20, 0.1);
}

.delete-endpoints {
  color: red;
  border: 0.125rem solid red;
  padding: 1.25rem;
  margin: 1.25rem 0;
  background-color: rgb(15, 0, 0);
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 8px rgba(68, 20, 20, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  background-color: black;
}

.table th,
table td {
  padding: 12px 15px;
  border: 1px solid purple;
  text-align: left;
}

.table th {
  background-color: black;
  color: white;
}

.table td code {
  font-size: 14px;
  background-color: black;
  padding: 0.125rem 6px;
  border-radius: 4px;
}

.table td {
  white-space: pre-line;
}

.link-button-get {
  padding: 0.0375rem 0.75rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid silver;
  margin: 0 0.4rem;
  background-color: black;
  color: silver;
  text-decoration: none;
}

.link-button-post {
  padding: 0.0375rem 0.75rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid green;
  margin: 0 0.4rem;
  background-color: black;
  color: green;
  text-decoration: none;
}

.link-button-patch {
  padding: 0.0375rem 0.75rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid orange;
  margin: 0 0.4rem;
  background-color: black;
  color: orange;
  text-decoration: none;
}

.link-button-delete {
  padding: 0.0375rem 0.75rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid red;
  margin: 0 0.4rem;
  background-color: black;
  color: red;
  text-decoration: none;
}

.back-to-top-button {
  padding: 0.0375rem 0.75rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid blueviolet;
  margin: 0 0.4rem;
  background-color: black;
  color: blueviolet;
  text-decoration: none;
}
